[data-view="categoria"] {
  .aside {
    padding: 0.75rem 1.125rem;
    border: 1px solid var(--cor-cinza-100);
    h2 {
      font-size: var(--font-24);
      color: var(--cor-vermelha-200);
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 0.875rem;
    }

    .filtro {
      margin-bottom: 2rem;
      h3 {
        color: var(--cor-azul-100);
        font-size: var(--font-18);
        font-weight: var(--font-bold);
        line-height: 1.2;
        margin-bottom: 0.75rem;
      }
      a {
        font-size: var(--font-16);
        line-height: 24px;
        color: var(--cor-preta-200);
      }
      &:not([data-filtrar-por="color"]) {
        li {
          &::before {
            content: "\2022";
            font-size: var(--font-18);
            color: var(--cor-cinza-400);
            display: inline-block;
            margin-right: 0.3125rem;
          }

          a {
            &.ativo{
              color: var(--cor-vermelha-200);
              font-weight: var(--font-bold);
            }
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }

      &[data-filtrar-por="color"] {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.3125rem;

          [data-color] {
            &:not(.ativo) {
              opacity: .8;
              transform: scale(.9);
              position: relative;
            }
            &.ativo{
              box-shadow: 0 0 0 2px var(--cor-branca-300), 0 0 0 3px var(--cor-cinza-400);
            }
            display: block;
            width: 3rem;
            height: 1.5rem;
            transition: 250ms var(--pop);
            &:hover,
            &:focus {
              opacity: 0.8;
            }
          }
          [data-color="Amarela"] {
            background-color: var(--filtro-amarelo);
          }
          [data-color="Azul"] {
            background-color: var(--filtro-azul);
          }
          [data-color="Bege"] {
            background-color: var(--filtro-bege);
          }
          [data-color="Cinza"] {
            background-color: var(--filtro-cinza);
          }
          [data-color="Laranja"] {
            background-color: var(--filtro-laranja);
          }
          [data-color="Preta"] {
            background-color: var(--filtro-preto);
          }
          [data-color="Rosa"] {
            background-color: var(--filtro-rosa);
          }
          [data-color="Vermelho"] {
            background-color: var(--filtro-vermelho);
          }
        }
        span {
          display: none;
        }
      }
    }
  }
}
