[data-view="home"] {
  .app {
    .container {
      @media (min-width: 321px) {
        display: grid;
        grid-template-columns: minmax(150px, 250px) 1fr;
        grid-template-rows: 1fr 176px;
        gap: 1.5rem;
      }

      @include tablet {
        grid-template-columns: 155px 1fr;
        gap: 1rem;
      }

      .main {
        @media (min-width: 321px) {
          grid-column: 2 /-1;
          grid-row: 1 / 2;
        }
        figure {
          img {
            width: 100%;
            height: auto;
          }
          margin-bottom: 1rem;
          @media (min-width: 321px) and (max-width: 768px) {
            margin-bottom: 0.3125rem;
          }
        }

        h1 {
          font-size: var(--font-26);
          font-weight: var(--font-regular);
          line-height: 1.2;
          margin-bottom: 0.3125rem;
        }

        p {
          font-size: var(--font-16);
          line-height: 1.2;
        }
      }

      .aside {
        display: none;
        @media (min-width: 321px) {
          display: block;
          grid-column: 1 /2;
          grid-row: 1 / 2;
        }
        padding: 1.25rem;
        background: var(--cor-cinza-100);
        &__nav {
          .nav__menu {
            margin-left: 1rem;
            li {
              &::before {
                content: "\2022";
                font-size: var(--font-18);
                color: var(--cor-cinza-400);
                display: inline-block;
                margin-right: 0.3125rem;
              }
              a {
                color: var(--preto-300);
                font-size: var(--font-16);
                line-height: 1.5;
                @media (min-width: 769px) {
                  font-size: var(--font-18);
                }
              }
            }
          }
        }
      }

      .footer {
        @include mobile{
          margin-top: 2rem;
          height: 180px;
        }
        @media (min-width: 321px) {
          grid-column: 1 /-1;
          grid-row: 2 / -1;
        }
        background-color: var(--cor-vermelha-200);
      }
    }
  }
}
